body {
  background: var(--clr-pink);
}

.container {
  width: 90vw;
  margin: 5rem 0;
  max-width: 450px;
  max-width: var(--fixed-width);
  background: #fff;
  background: var(--clr-white);
  border-radius: 0.25rem;
  border-radius: var(--radius);
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 15px rgb(0 0 0 / 40%);
  box-shadow: var(--dark-shadow);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
